SpareParts.Logic/obj/
SpareParts.Logic/bin/
SpareParts.Service/bin/
SpareParts.Explorer/obj/
SpareParts.Service/obj/
SpareParts/obj/
packages/
SpareParts.Tester/obj/
SpareParts.Tester/bin/
SpareParts.DataHelpers/obj/
SpareParts.DataHelpers/bin/
SpareParts.DataAccess/obj/
SpareParts.Dto/obj/
SpareParts.Dto/bin/
SpareParts.Contracts/obj/
SpareParts.Contracts/bin/
SpareParts.DataAccess/bin/
/SpareParts/bin/Debug
/SpareParts.Explorer/bin/Debug
/SpareParts.Tools/bin/Debug
/SpareParts.Tools/obj/Debug
/.vs/SpareParts/v14/.suo
/SpareParts/SpareParts.dbmdl
